name: Build and Deploy Blue/Green

on:
  push:
    branches: ["main"]

env:
  IMAGE_NAME_BASE: ghcr.io/raf-hs/colibri

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build & Push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./colibri-backend
          file: ./colibri-backend/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME_BASE }}:latest
            ${{ env.IMAGE_NAME_BASE }}:${{ github.sha }}

deploy:
  needs: build-and-push
  runs-on: ubuntu-latest

  steps:
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          export GHCR_PAT=${{ secrets.GHCR_PAT }}
          export IMAGE_NAME="ghcr.io/raf-hs/colibri:${{ github.sha }}"
          /home/deployer/app/deploy_blue_green.sh "$IMAGE_NAME"
