name: Build and Deploy Blue/Green

on:
  push:
    branches: [ "main" ]

env:
  REPO_LOWER: raf-hs/colibri
  GHCR_USER: Raf-Hs

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.GHCR_USER }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ env.REPO_LOWER }}:latest
            ghcr.io/${{ env.REPO_LOWER }}:${{ github.sha }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          envs: GHCR_USER,GHCR_PAT,REPO_LOWER
          script: |
            export IMAGE_SHA=${{ github.sha }}
            export REPOSITORY=${{ env.REPO_LOWER }}

            echo "Iniciando despliegue BLUE/GREEN..."
            /home/deployer/app/deploy_blue_green.sh $IMAGE_SHA
