name: Deploy Blue Green

on:
  push:
    branches: [ "main", "PROD" ]


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Clean Green folder
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
          "rm -rf /var/www/colibri/colibri-green/*"

    - name: Copy repository to GREEN
      run: |
        scp -o StrictHostKeyChecking=no -r ./* \
          ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/colibri/colibri-green/

    - name: Deploy GREEN
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
          "bash /var/www/colibri/app/deploy.sh green"
